.modal-call {
	display: none;
	max-width: 800px;
	width: 100%;
	padding: 50px 0px 50px 0px;
	// .modal-comment__close
	&__close {
	}
	// .modal-comment__container
	&__container {
		max-width: 630px;
		margin: 0 auto;
		padding: 0 20px;
	}
	// .modal-comment__content
	&__content {
	}
	// .modal-comment__title
	&__title {
		margin-bottom: 37px;
		font-weight: 700;
		font-size: 36px;
		line-height: lh(44, 36);
		text-align: center;
		text-transform: uppercase;
		color: #000000;
	}
	// .modal-comment__form
	&__form {
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
	}
	// .modal-comment__input
	&__input {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		height: 60px;
		padding: 10px 20px 10px 25px;
		background: #ffffff;
		border: 1px solid #c4c4c4;
		font-size: 16px;
		color: #000000;
		&::placeholder {
			color: #000000;
		}
	}
	// .modal-comment__btn
	&__btn {
		min-height: 70px;
		font-size: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 10px;
		line-height: lh(20, 16);
		text-transform: uppercase;
		background: #c5a995;
		color: #ffffff;
		transition: all 0.3s;
		cursor: pointer;

		&:hover {
			color: #000000;
			background: #ffffff;
			border: 1px solid #c5a995;
		}
	}
	&__privacy {
		font-size: 14px;
		line-height: lh(17, 14);
	}
}
