.catalog {
	// .catalog__container
	&__container {
		padding-bottom: 136px;
	}
	// .catalog__title
	&__title {
		margin-bottom: 59px;
	}
	// .catalog__block
	&__block {
		display: flex;
	}
	// .catalog__aside
	&__aside {
		flex: 0 0 320px;
		margin-right: 38px;
	}
	// .catalog__main
	&__main {
		flex: 1 1 auto;
		overflow: hidden;
	}
	// .catalog__bar
	&__bar {
		margin-bottom: 30px;
	}
	// .catalog__grid
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 40px;
		grid-row-gap: 47px;
		margin-bottom: 82px;
	}
	// .catalog__column
	&__column {
	}
	// .catalog__item
	&__item {
	}
	// .catalog__pagination
	&__pagination {
	}
}

.aside-catalog {
	// .aside-catalog__list
	&__list {
	}
	// .aside-catalog__item
	&__item {
		margin-bottom: 40px;
	}
}
.item-aside {
	// .item-aside__title
	&__title {
		display: flex;
		align-items: center;
		margin-bottom: 18px;
		font-weight: 500;
		font-size: 16px;
		line-height: lh(20, 16);
		text-transform: uppercase;
		color: #000000;
		transition: color 0.3s;
		cursor: pointer;
		&:hover {
			color: #c5a995;
		}

		span {
			margin-left: 14px;
			width: 10px;
			height: 10px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 4px;
				left: 0;
				width: 10px;
				height: 2px;
				background: #000000;
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 4px;
				width: 2px;
				height: 10px;
				background: #000000;
			}
		}
	}
	// .item-aside__cats
	&__cats {
		display: none;
	}
	// .item-aside__cat
	&__cat {
		color: #000000;
		font-size: 16px;
		line-height: lh(19, 16);
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		transition: color 0.3s;
		&:hover {
			color: #c5a995;
		}

		&--active {
			color: #c5a995;
		}
	}

	&--active {
		.item-aside__title span::before {
			display: none;
		}
		.item-aside__cats {
			display: flex;
			flex-direction: column;
		}
	}
}
.bar {
	padding: 0 0;
	position: relative;
	// .bar__top
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 16px;
		line-height: lh(22, 16);
		color: #000000;
		background: #fff;
		position: relative;
		z-index: 2;
	}
	// .bar__filter-btn
	&__filter-btn {
		display: flex;
		align-items: center;
		padding-left: 43px;
		min-height: 22px;
		background: url("../img/filter.svg") 0 0 no-repeat;
		cursor: pointer;
	}
	// .bar__sort-btn
	&__sort-btn {
		display: flex;
		align-items: center;
		padding-right: 20px;
		min-height: 22px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			width: 13px;
			height: 8px;
			transform: translateY(-50%) rotate(180deg);
			background: url("../img/sort.svg") 0 0 no-repeat;
			transition: transform 0.3s;
		}
		&--active {
			&::after {
				transform: translateY(-50%);
			}
		}

		cursor: pointer;
	}
	// .bar__filter
	&__filter {
	}
	// .bar__sort
	&__sort {
	}
}
.filter-bar {
	padding: 20px 0px 20px 0px;
	position: absolute;
	top: 100%;
	left: 0;
	min-height: 375px;
	width: 100%;
	z-index: 1;
	background: #fff;
	transform: translateY(-120%);
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
	// .filter-bar__grid
	&__grid {
		display: flex;
		flex-wrap: wrap;
	}
	// .filter-bar__column
	&__column {
		margin-bottom: 30px;
		max-width: 300px;
		&:not(:last-child) {
			margin-right: 100px;
		}
		&:nth-child(2) {
			.checkbox-filter {
				text-transform: uppercase;
			}
		}
	}
	// .filter-bar__title
	&__title {
		margin-bottom: 27px;
		font-weight: 600;
		font-size: 14px;
		line-height: lh(17, 14);
		text-transform: uppercase;
		color: #000000;
	}
	// .filter-bar__list
	&__list {
	}
	&__checkbox {
		&:not(:last-child) {
			margin-bottom: 9px;
		}
	}
	&--active {
		visibility: visible;
		opacity: 1;
		transform: none;
	}
	&__buttons {
		display: flex;
		align-items: center;
		@media (max-width: 369px) {
			justify-content: space-between;
		}
	}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 10px 20px;
		font-size: 14px;
		text-transform: uppercase;
		color: #ffffff;
		transition: all 0.3s;
		cursor: pointer;
		@media (max-width: 369px) {
			font-size: 12px;
		}
	}
	&__filter {
		background: #c5a995;
		margin-right: 40px;
		@media (max-width: 369px) {
			margin-right: 20px;
		}
		&:hover {
			background: #8290a7;
		}
	}
	&__reset {
		background: #8290a7;
		&:hover {
			background: #c5a995;
		}
	}
}

.checkbox-filter {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: lh(17, 14);
	color: #000000;
	cursor: pointer;
	// .checkbox-filter__input
	&__input {
		position: absolute;
		-webkit-appearance: none;
		appearance: none;
	}
	// .checkbox-filter__box
	&__box {
		position: relative;
		width: 17px;
		height: 17px;
		flex: 0 0 17px;
		margin-right: 17px;
		background: #ffffff;
		border: 1px solid #2b2a29;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			top: 3px;
			left: 3px;
			width: 9px;
			height: 9px;
			background: #c5a995;
			visibility: hidden;
			opacity: 0;
			transition: all 0.3s;
		}
	}
}

.checkbox-filter__input:checked + .checkbox-filter__box:before {
	visibility: visible;
	opacity: 1;
}

.sort-bar {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	min-height: 375px;
	padding: 20px 0px 20px 0px;
	background: #fff;
	transform: translateY(-120%);
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	// .sort-bat__item
	&__item {
		font-size: 14px;
		line-height: lh(17, 14);
		color: #000000;
		cursor: pointer;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&--active {
			color: #c5a995;
		}
	}

	&--active {
		visibility: visible;
		opacity: 1;
		transform: none;
	}
}
