.contacts {
	// .contacts__container
	&__container {
		padding-bottom: 133px;
	}
	// .contacts__title
	&__title {
		margin-bottom: 80px;
	}
	// .contacts__grid
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(384px, auto));
		grid-column-gap: 96px;
		grid-row-gap: 40px;
	}
	// .contacts__column
	&__column {
		display: flex;
		flex-direction: column;
		h2 {
			margin-bottom: 20px;
			font-size: 18px;
			font-weight: 700;
			line-height: 1.5;
			text-transform: uppercase;
			color: #8290a7;
		}
		p {
			margin-bottom: 24px;
			font-size: 18px;
			line-height: 1.5;
		}
		a[href^="mailto:"] {
			margin-bottom: 24px;
			font-size: 18px;
			text-decoration: underline;
			color: #000000;
		}
		a[href^="tel:"] {
			margin-bottom: 24px;
			font-size: 18px;
			font-weight: 700;
			color: #000000;
		}
	}
}
