.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba($color: #000, $alpha: 0.7);
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;

  &.active {
    visibility: visible;
    opacity: 1;
    & .mob-menu__container {
      transform: translateX(0);
    }
  }

  // .mob-menu__container
  &__container {
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #fff;
    overflow: auto;
    transform: translateX(-110%);
    transition: 0.3s;
  }
  &__moving {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.3s;
    &.transform {
      transform: translateX(-100%);
    }
    &.transform-200 {
      transform: translateX(-200%);
    }
  }
  // .mob-menu__header
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
  }
  // .mob-menu__logo
  &__logo {
  }
  // .mob-menu__close
  &__close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: calc(50% - 12px);
    right: 20px;
    background-color: transparent;
    cursor: pointer;

    @media (min-width: 992px) {
      &:hover.mob-menu__close::after,
      &:hover.mob-menu__close::before {
        background-color: #c5a995;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      transition: background-color 0.3s;
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
  // .mob-menu__nav
  &__nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  // .mob-menu__nav-top
  &__nav-top {
    padding: 18px 20px;
    border-bottom: 1px solid #f2f2f2;
  }
  // .mob-menu__nav-bot
  &__nav-bot {
    flex: 1 1 auto;
    padding: 18px 20px;
  }
  // .mob-menu__footer
  &__footer {
    border-top: 1px solid #f2f2f2;
    padding: 18px 25px 18px 20px;
  }
  // .mob-menu__tel
  &__tel {
    display: inline-block;
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      color: #c5a995;
    }
  }
  // .mob-menu__bot
  &__bot {
    display: flex;
    justify-content: space-between;
  }
  // .mob-menu__btn
  &__btn {
    min-height: 36px;
    width: 163px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    line-height: lh(12, 15);
    text-transform: uppercase;
    background: #c5a995;
    color: #ffffff;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      color: #000000;
      background: #ffffff;
      border: 1px solid #c5a995;
    }
  }
  // .mob-menu__lang
  &__lang {
    margin-left: 15px;
  }
}
.top-nav {
  // .top-nav__item
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &::after {
      content: "";
      background: url("../img/arrow-mob-menu.svg") center / contain no-repeat;
      width: 5px;
      height: 8px;
    }
  }
  // .top-nav__link
  &__link {
    font-size: 18px;
    line-height: 1.89;
    text-transform: uppercase;
    color: #000000;
  }
  // .top-nav__dropdown
  &__dropdown {
  }
}
.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 320px;
  height: 100%;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  // .submenu__header
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 80px;
    padding: 10px 20px;
    border-bottom: 1px solid #f2f2f2;
  }
  // .submenu__back
  &__back {
    padding-left: 27px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 7px);
      left: 0;
      width: 9px;
      height: 14px;
      background: url("../img/arrow-mob-menu.svg") center / contain no-repeat;
      transform: rotate(180deg);
    }
  }
  // .submenu__list
  &__list {
    padding: 18px 40px;
  }
  // .submenu__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__link {
    font-size: 16px;
    line-height: 20px;
    color: #2b2a29;
  }
  &--active {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}
.bot-nav {
  // .bot-nav__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  // .bot-nav__link
  &__link {
    font-size: 18px;
    line-height: 1.89;
    color: #000000;
  }
}
