.modal-size {
	max-width: 900px;
	width: 100%;
	padding: 50px 0px 50px 0px;
	// .modal-size__close
	&__close {
		width: 25px;
		height: 25px;
		position: absolute;
		top: 15px;
		right: 12px;
		background-color: transparent;
		cursor: pointer;

		@media (min-width: 992px) {
			&:hover.modal-size__close::after,
			&:hover.modal-size__close::before {
				background-color: #e31e24;
			}
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: calc(50% - 1px);
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #000;
			transition: background-color 0.3s;
		}
		&::before {
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
		}
	}
	// .modal-size__container
	&__container {
		max-width: 772px;
		margin: 0 auto;
		padding: 0 20px;
	}
	// .modal-size__content
	&__content {
	}
	// .modal-size__title
	&__title {
		margin-bottom: 73px;
		font-weight: 700;
		font-size: 36px;
		line-height: lh(44, 36);
		text-align: center;
		text-transform: uppercase;
		color: #000000;
	}
	// .modal-size__table
	&__table {
		margin-bottom: 49px;
		border-collapse: collapse;
		width: 100%;
		th {
			padding: 15px 20px;
			font-size: 16px;
			line-height: lh(20, 16);
			font-weight: 400;
			color: #ffffff;
			background: #000000;
			border: 4px solid #ffffff;
		}
		td {
			padding: 15px 20px;
			font-size: 16px;
			line-height: lh(20, 16);
			color: #000000;
			background: #f2f2f2;
			border: 4px solid #ffffff;
		}
		tr {
			background: #f2f2f2;
		}
		tr:nth-child(2n + 1) {
			background: #e5e5e5;
		}
	}
	// .modal-size__text
	&__text {
		font-size: 16px;
		line-height: lh(20, 16);
		color: #000000;
	}
}
