.modal-cart {
	display: none;
	max-width: 800px;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 0;
	padding-right: 0;
	// .modal-cart__container
	&__container {
		max-width: 630px;
		margin: 0 auto;
		padding: 0 20px;
	}
	// .modal-cart__content
	&__content {
		display: flex;
		flex-direction: column;
	}
	// .modal-cart__title
	&__title {
		margin-bottom: 37px;
		font-weight: 700;
		font-size: 36px;
		line-height: lh(44, 36);
		text-align: center;
		text-transform: uppercase;
		color: #000000;
	}
	// .modal-cart__link
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 10px;
		font-size: 16px;
		line-height: lh(20, 16);
		text-transform: uppercase;
		background: #c5a995;
		color: #ffffff;
		transition: all 0.3s;
		cursor: pointer;
		margin-bottom: 36px;
		min-height: 80px;
		font-size: 24px;
		line-height: lh(29, 24);
		&:hover {
			color: #000000;
			background: #ffffff;
			border: 1px solid #c5a995;
		}
	}
	// .modal-cart__close
	&__close {
		min-height: 80px;
		padding: 10px 15px;
		font-size: 24px;
		line-height: lh(29, 24);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		text-transform: uppercase;
		background: #c4c4c4;
		cursor: pointer;
		transition: all 0.3s;
		&:hover {
			background: #c5a995;
			color: #ffffff;
		}
	}
}
