.product {
	// .product__container
	&__container {
	}
	&__top {
		display: flex;
		align-items: flex-start;
		margin-bottom: 108px;
		padding-top: 45px;
	}
	&__mid {
		padding-bottom: 66px;
	}
	// .product__slider
	&__slider {
		margin-right: 160px;
	}
	// .product__info
	&__info {
	}
	&__slider-mid {
		&:not(:last-child) {
			margin-bottom: 67px;
		}
	}
	// .product__comments
	&__comments {
		padding-top: 58px;
		border-top: 1px solid #e5e5e5;
		padding-bottom: 124px;
	}
}

.slider-product {
	position: relative;
	overflow: hidden;
	max-width: 680px;
	// .slider-product__image
	&__image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.swiper-pagination {
		bottom: 36px;
	}

	.swiper-pagination-bullet {
		width: 50px;
		height: 4px;
		background: #ffffff;
		border-radius: unset;
		opacity: 1;
		transition: width 0.3s;
		&:not(:last-child) {
			margin-right: 9px;
		}
	}

	.swiper-pagination-bullet-active {
		width: 140px;
		background: #c5a995;
	}
}

.info-product {
	&__title {
		margin-bottom: 14px;
	}
	// .info-product__code
	&__code {
		margin-bottom: 50px;
		font-weight: bold;
		font-size: 16px;
		line-height: lh(20, 16);
		color: #c4c4c4;
	}
	// .info-product__text
	&__text {
		margin-bottom: 50px;
		font-size: 16px;
		line-height: lh(20, 16);
		color: #000000;
		p {
			margin-bottom: 22px;
		}
		ul,
		ol {
			margin-bottom: 23px;
			li {
				// font-size: 18px;
				line-height: 1.5;
				color: #000000;
				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}
		}

		ul li {
			position: relative;
			padding-left: 30px;
			&::before {
				content: "";
				position: absolute;
				top: 10px;
				left: 0;
				width: 4px;
				height: 4px;
				border-radius: 100%;
				background-color: #000000;
				overflow: hidden;
			}
		}
		ol {
			counter-reset: info;
			list-style-type: none;
			li {
				position: relative;
				padding-left: 30px;
			}
			li::before {
				counter-increment: info;
				content: counter(info) ".";
				position: absolute;
				top: 0;
				left: 0;
				font-size: 18px;
				color: #000000;
			}
		}
	}
	// .info-product__live
	&__live {
		padding-left: 25px;
		margin-bottom: 57px;
		font-weight: bold;
		font-size: 14px;
		line-height: lh(17, 14);
		color: #8290a7;
		background: url("../img/star-live.svg") 0 0 no-repeat;
	}
	// .info-product__sizes
	&__sizes {
		margin-bottom: 44px;
	}
	// .info-product__size
	&__size {
		margin-bottom: 18px;
	}
	// .info-product__checkboxes
	&__checkboxes {
		margin-bottom: 18px;
		display: flex;
		align-items: center;
	}
	// .info-product__help
	&__help {
		font-weight: bold;
		font-size: 16px;
		line-height: lh(20, 16);
		text-decoration-line: underline;
		color: #000000;
		cursor: pointer;
	}
	// .info-product__color
	&__color {
		margin-bottom: 22px;
		font-size: 14px;
		line-height: lh(17, 14);
		color: #ff0000;
	}
	.card__prices {
		margin-bottom: 56px;
	}
	// .info-product__btn
	&__btn {
		min-height: 75px;
		width: 285px;
	}
	.breadcrumbs {
		margin-top: 0;
		margin-bottom: 22px;
	}
	// .info-product__quantity
	&__quantity {
		margin-bottom: 66px;
	}
}

.checkbox-product {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	line-height: lh(20, 16);
	cursor: pointer;

	&:not(:last-child) {
		margin-right: 20px;
	}
	// .checkbox-product__input
	&__input {
		position: absolute;
		-webkit-appearance: none;
		appearance: none;
	}
	// .checkbox-product__text
	&__box {
		position: relative;
		width: 30px;
		height: 30px;
		margin-bottom: 9px;
		background: #ffffff;
		border: 1px solid #2b2a29;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 16px;
			height: 16px;
			background: #c5a995;
			visibility: hidden;
			opacity: 0;
			transition: all 0.3s;
		}
	}
}

.checkbox-product__input:checked + .checkbox-product__box:before {
	visibility: visible;
	opacity: 1;
}

.checkbox-product__input:focus + .checkbox-product__box {
	border: 1px solid #c5a995;
}

.slider-mid {
	// .slider-mid__title
	&__title {
		margin-bottom: 42px;
	}
	&__wrapper {
		position: relative;
		padding: 0 20px;
	}
	// .slider-mid__container
	&__container {
		overflow: hidden;
	}
	&__btn-next,
	&__btn-prev {
		width: 20px;
		height: 20px;
		position: absolute;
		top: calc(50% - 15px);
		transform: translateY(-50%);
		background: url("../img/slider-mid-arrow.svg") center / contain no-repeat;
		z-index: 1;
		cursor: pointer;
		transition: background-color 0.3s;
	}
	// .slider-hero__btn-prev
	&__btn-prev {
		left: -14px;
	}

	// .slider-hero__btn-next
	&__btn-next {
		right: -14px;
		transform: translateY(-50%) rotate(180deg);
	}
	.swiper-button-disabled {
		display: none;
	}
}

.comments-product {
	// .comments-product__title
	&__container {
		max-width: 1040px;
	}
	&__title {
		margin-bottom: 73px;
	}
	// .comments-product__top
	&__top {
		margin-bottom: 96px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .comments-product__btn
	&__btn {
		margin-right: 20px;
		min-height: 60px;
		width: 250px;
	}
	// .comments-product__rating
	&__rating {
		display: flex;
		flex-direction: row-reverse;
		margin-right: 46px;
		margin-left: auto;
	}

	&__star {
		&:not(:last-child) {
			margin-left: 7px;
		}

		&.active {
			path {
				fill: #c5a995;
			}
		}

		&.active ~ .comments-product__star {
			path {
				fill: #c5a995;
			}
		}
	}

	// .comments-product__rec
	&__rec {
		line-height: lh(22, 18);
		color: #000000;
	}
	// .comments-product__list
	&__list {
		margin-bottom: 58px;
	}
	// .comments-product__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 62px;
		}
	}
	// .comments-product__name
	&__name {
		margin-bottom: 26px;
		font-weight: 700;
		line-height: lh(22, 18);
		color: #000000;
	}
	// .comments-product__text
	&__text {
		font-size: 16px;
		line-height: lh(26, 16);
	}
	// .comments-product__more
	&__more {
		font-weight: bold;
		font-size: 14px;
		line-height: lh(17, 14);
		text-decoration-line: underline;
		text-transform: uppercase;
		color: #8290a7;
	}
}

.quantity {
	// .quantity__title
	&__title {
		margin-bottom: 22px;
		font-size: 16px;
		color: #000000;
	}
	// .quantity__control
	&__control {
		display: flex;
		align-items: center;
	}
	// .quantity__minus
	&__minus {
		margin-right: 15px;
		width: 14px;
		height: 14px;
		position: relative;
		background-color: transparent;
		&::after {
			content: "";
			position: absolute;
			top: 6px;
			left: 0;
			width: 14px;
			height: 2px;
			background: #000000;
		}
	}
	// .quantity__input
	&__input {
		width: 86px;
		height: 35px;
		background: #ffffff;
		border: 1px solid #000000;
		font-size: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: #000000;
	}
	// .quantity__plus
	&__plus {
		margin-left: 15px;
		width: 14px;
		height: 14px;
		position: relative;
		background-color: transparent;
		&::after {
			content: "";
			position: absolute;
			top: 6px;
			left: 0;
			width: 14px;
			height: 2px;
			background: #000000;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 6px;
			width: 2px;
			height: 14px;
			background: #000000;
		}
	}
}
